

.footer{
  background-color: #EDE9EF;
  color: #26093A;
}
.footer-div p{
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
}
.footer-div li{
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
}
.footer-image{
  bottom: 5.5rem;
  right: 3rem;
}
.footer-image img{
  width: 10px;
}
.last-image img{
  width: 15px;
  padding-bottom: 2rem;
}
.end p{
  font-size: 10px;
  font-weight: 600;
}

@media (max-width:768px) {
  .footer{
    padding-top: .1rem;
  }
  
}